# Decision Tree

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn import tree
import graphviz 
import os

In [ ]:
os.environ["PATH"] += os.pathsep + 'C:/Users/Student/Desktop/shared/ML/實作/hands-on_part4/example/release/bin'

In [2]:
# load csv file
data = pd.read_csv("./dataset/abalone.csv" , header=None)
data.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [3]:
data[0] = pd.Categorical(data[0]).codes
data[8] = data[8].apply(lambda x: 0 if x> 8 else 1)

In [4]:
data.head()

   0      1      2      3       4       5       6      7  8
0  2  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  0
1  2  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070  1
2  0  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210  0
3  2  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  0
4  1  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055  1

In [5]:
X = data.iloc[:,0:8]
print(X.head())

   0      1      2      3       4       5       6      7
0  2  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150
1  2  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070
2  0  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210
3  2  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155
4  1  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055

In [6]:
y = data.iloc[:,8]
y.head()

0    0
1    1
2    0
3    0
4    1
Name: 8, dtype: int64

In [7]:
# y_cut = pd.cut(y ,  bins=[0,8,100] , labels=[0,1])
# y_cut

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

scaler = preprocessing.StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)

X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)


accuracy = accuracy_score(y_test, y_pred)
num_correct_samples = accuracy_score(y_test, y_pred, normalize=False)
con_matrix = confusion_matrix(y_test, y_pred)

print('number of correct sample: {}'.format(num_correct_samples))
print('accuracy: {}'.format(accuracy))
print('con_matrix: {}'.format(con_matrix))

number of correct sample: 652
accuracy: 0.7799043062200957
con_matrix: [[452  95]
 [ 89 200]]